# Python Environment & Caches
# ---
.venv/
virtualenv/
venv/
env/
*.pyc
__pycache__/
*.egg-info/
.mypy_cache/

# Dependency Manager Artifacts (uv)
# ---
.uv/

# Ruff (Linter) Artifacts
# ---
.ruff_cache/

# Pytest Artifacts
# ---
.pytest_cache/
htmlcov/
.coverage

# Build/Distribution Artifacts
# ---
dist/
build/
*.whl
*.tar.gz

# IDE/Editor Specific
# ---
# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# PyCharm
.idea/

# MacOS
.DS_Store
